.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.navBar {
  color: blueviolet;
  text-decoration: none;
}

.nextBtn {
  display: block;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, 35%);
  color: aliceblue;
  background-color: blueviolet;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 9px;
  
}